:root {
    --top-bg: #f5f5f5;
  
}

.banner-div{
    background-color: var(--top-bg);
    height: 840px;
}

.cards{
    width: 80%;
    margin: auto;
    margin-top: 70px;
    display: flex;
}

.card{
    width: 30%;
    margin: auto;
    transition: all .2s ease-in-out; 

    .card-body{
        height: 200px;
    }

    img{
        height: 400px; 
        object-fit: cover;
    }
}

.card:hover{
    transform: scale(1.01); 
}

.book{    
    height: 850px;
    width: 100%;
    background-color: rgb(0, 0, 0);

    img{
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 75%;
        border-radius: 120px;
    }

}

h2{
    margin-top: 30px;
}